.main__menu {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center
}

.main__loading {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.main__text {
    margin: 0 15px;
}

.main__btn {
    min-width: 26px;
    min-height: 30px;
    border: #ffffff solid 1px;
    border-radius: 10px;
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.main__btn:hover {
    border: #fe3d00 solid 1px;
}


